.middle-info {
  width: 100%;
  background: #f4f9fd;
}
#sub-middle-info {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
}
#sub-middle-info img {
  width: 100px;
}

#sub-middle-info .col-sx {
  width: 30%;
}
#sub-middle-info .col-dx {
  width: 70%;
}

.col-dx h4 {
  display:inline-block;
  text-transform: uppercase;
  padding: 20px 0;
}

.linea {
  display: inline-block;
  border: 2px solid black;
}


/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #33475b;
}

/* STYLING AL BODY */
body {
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 14px;
}

.fa-search {
  color: #02a6bf;
}


.container-full-width-header {
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid #33475B;

}
 .main-header {
   width: 1000px;
   margin: 0 auto;
   height: 80px;
   padding-top: 30px;
   color: #32495b;
 }

 .w-50 span:nth-child(2) {
   padding: 0 20px;
 }

.main-nav {
  background-color: white;
  border: 1px solid transparent;
  width: 100%;
}
.nav-container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 15px;
}

.jumbotron {
  width: 100%;
  background-color: #FFF4EF;
  background-image: url(../img/jumbotron.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-jumbotron {
  width: 1000px;
  margin: 0 auto;
}

 .main-jumbotron p{
   margin: 20px 0;
 }
 .powerful-alone {
   width: 100%;
   background: #f4f9fd;
 }
 .powerful-alone img {
   width: 200px;
   margin-top: 40px;

 }

 .main-powerful-alone {
   width: 647px;
   margin: 0 auto;
   text-align: center;
 }

 .main-powerful-alone p {
   padding: 40px 0;
 }

 .w-50 h1 {
   color: #33475B;
   font-size: 48px;
 }

 /*UTILITIES */
 .clearfix::after {
   content: '';
   display: table;
   clear: both;
 }

 .float-left {
   float: left;
 }

 .btn-middle {
   padding: 10px;
   border-radius: 5px;
   background-color: #FE775A;
   color: white;
   width: 101px;
 }

 .btn {
   padding: 10px;
   border-radius: 5px;
 }

 .btn-white-orange {
   background-color: white;
   color: #FE775A;
   padding: 10px;
   margin: 0 20px;
   border: 1px solid #FE775A;
 }

 .btn-orange-small {
   border: 1px solid #FE775A ;
   color: white;
   background-color: #FE775A;
 }

 .w-50 {
   width: 50%;
 }

 .menu-inline {
   list-style: none;
 }

 .menu-inline li {
   display:inline-block;
   padding: 0 10px;
   color: #32495b;
 }
 .inline-block {
   display: inline-block;
 }
 .align-right {
   text-align: right;
 }

 a {
   text-decoration: none;
   color: #32495b;
 }
