/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.container-full-width-header {
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid #33475B;

}
 .main-header {
   width: 1000px;
   margin: 0 auto;
   height: 80px;
   padding-top: 30px;
 }

 .colonna-sx span:nth-child(2) {
   padding: 0 20px;
 }

.btn {
  padding: 10px;
  border-radius: 5px;
}
.btn-white-orange {
  background-color: white;
  color: #FE775A;
  padding: 10px;
  margin: 0 20px;
  border: 1px solid #FE775A;

}
.btn-orange-small {
  border: 1px solid #FE775A ;
  color: white;
  background-color: #FE775A;
}
.w-50 {
  width: 50%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
